
<% counter = 0 %>
<div class="mainHeader headerwhite row">
        <div class="col-md-8">
          <h2>chemisketch</h2>
        </div>
        <div class="col-md-3 tutorialSection">
            <%= link_to "TUTORIAL", sketchtrainings_path, class: "tutorialButton", id: "backToHome"%>
        </div>
</div>

<div class ="moleculeSelectorSection">

	<div class="row">

		<% @molecules.each do |molecule| %>
			<% counter = counter + 1 %>

			<% if counter % 3 == 1 %>
				<%= link_to molecule, class: 'col-md-3 boxed firstBox', :action => 'go' do %>
					<p class="molecule_formula">

					</p>
					<p class="molecule_name"><%=molecule.name%></p>
				<% end %>
			<% else %>
				<%= link_to molecule, class: 'col-md-3 boxed', :action => 'go' do %>
					<p class="molecule_formula">

					</p>
					<p class="molecule_name"><%=molecule.name%></p>
				<% end %>
			<% end %>

			<% if counter % 3 == 0 %>
				</div>
				<div class="row">
			<% end %>


		<% end %>
	</div>
</div>
